{# templates/sorteo/estructuraBase.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block titulo %}Aplicación de prueba{% endblock %}</title>
        <style> .actual { font-weight: bold; } </style>
    </head>
    <body>
        <div id="sidebar">
            {% block sidebar %}
            {{ include('sorteo/menu.html.twig', { 'seccionActual': "inicio" }) }}
            {% endblock %}
        </div>

        <div id="contenido">
            {% block contenido %}{% endblock %}
        </div>
    </body>
</html>
