{# templates/sorteo/index.html.twig #}
{% extends 'sorteo/estructuraBase.html.twig' %}

{% block titulo %}Bienvenido{% endblock %}

{% block contenido %}
<h1>Bienvenido a Sorteo Symfony</h1>
{% endblock %}