{# templates/sorteo/listaApuestas.html.twig #}
{% extends 'sorteo/estructuraBase.html.twig' %}
{% block sidebar %}
  {{ include('sorteo/menu.html.twig', { 'seccionActual': "apuestas" }) }}
{% endblock %}
{% block contenido %}
    <h1>Apuestas</h1>
    <ul>
        {% for apuesta in apuestas %}
            <li><a href="{{ path('app_apuesta_ver', {'id': apuesta.id}) }}">
                Apuesta #{{ apuesta.id }}
            </a></li>
        {% else %}
            <li>No hay apuestas</li>
        {% endfor %}

    </ul>
    <p><a href="{{ path('app_nueva_apuesta') }}">Añadir apuesta</a></p>
{% endblock %}