{# templates/sorteo/numero.html.twig #}
{% extends 'sorteo/estructuraBase.html.twig' %}

{% block titulo %}Sorteo entre 0 y {{maximo}}{% endblock %}

{% block contenido %}
<h1>El resultado del sorteo es: {{ numero }}</h1>
{% endblock %}